/*----------------------------------------GENERAL------------------------------------*/
* {
    margin: 0;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h1,
h3 {
    margin: auto;
}

header {
    background-color: red;
    flex: 3 0 auto;
    display: flex;
}
/*                    main                      */
main {
    flex: 30 0 auto;
    display: flex;

}

aside {
    background-color: rgb(72, 72, 72);
    flex: 1 0 auto;
    display: flex;
}
aside h3{
    margin: 0 auto auto ;
    color: beige;
    background: rgb(61, 133, 248);
}

section {
    flex: 4 0 auto;
    display: flex;
    flex-direction: column;
}
main section:nth-of-type(2) {
    flex: 8 0 auto;
}
section h3{
    color: beige;
    margin: 25px auto;
    padding: 10px 10px;
    background-color: rgb(51, 2, 187);
    border-radius: 40px;
    letter-spacing: 2px;
    
}

article{
    flex: 4 0 auto;
}
article div {
    width: 90%;
    height: 90%;
    border: 3px solid rgb(72, 72, 72);
    border-radius: 20px;
    margin: auto;
    position: relative;
}
/*                    Footer                      */
footer {
    background-color: black;
    color: #890C99;
    flex: 2 0 auto;
    display: flex;
}

footer h3 {
    width: 100vw;
    margin: auto;
}
/*-------------------------------------Exercice Carré-----------------------------------------*/

#carre {
    display: flex;
}
@keyframes tourne {
    form {
        background-color: yellow;
        transform: rotate(0deg);
    }
    to {
        background-color: red;
        transform: rotate(450deg);
    }
} 
#carre div {
    border-width: 2px;
    border-radius: 5px;
    width: 140px;
    height: 140px;
    background-color: yellow;
    animation-name: tourne;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-direction:alternate;
  
}
/*-------------------------------------Exercice Balle-----------------------------------------*/

#balle {
    display: flex;
    overflow: hidden;
}
#balle div {
    margin-bottom: 10px;
    width: 40px;
    height: 140px;
    border-radius: 0;
    position: relative;

}
@keyframes rebond {
    0% {
        top: -44px;
    }
    20% {
        top: 105px;
        height: 32px;
    }
    23% {
        top: 100px;
        height: 38px;
    }
    35% {
        top: 30px;
    }
    50% {
        top: 105px;
        height: 32px;        
    }
    52% {
        top: 100px;
        height: 38px;        
    }
    80% {
        top: 60px;      
    }
    98% {
        top: 105px;      
        height: 32px;        
    }
    100% {
        top: 100px;      
        height: 38px;        
    }
    /* 100% {
        top: -44px;
    } */
} 
#balle div div {
    position: absolute;
    left: -1px;
    top: -44px;
    border-width: 2px;
    border-radius: 100%;
    width: 38px;
    height: 38px;
    background-color: #890C99;
    animation-name: rebond;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 1s;

}