/*----------------------------------------GENERAL------------------------------------*/
* {
    margin: 0;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h1,
h3 {
    margin: auto;
}

header {
    background-color: red;
    flex: 3 0 auto;
    display: flex;
}
/*                    main                      */
main {
    background-color: #890C99;
    flex: 30 0 auto;
    display: flex;

}

aside {
    background-color: blue;
    flex: 1 0 auto;
}

section {
    background-color: aqua;
    border: 1px solid white;
    flex: 4 0 auto;
    display: flex;
    flex-direction: column;
}
main section:nth-of-type(2) {
    flex: 8 0 auto;
}
section h3{
    color: beige;
    margin: 25px auto;
    padding: 10px 10px;
    background-color: rgb(51, 2, 187);
    border-radius: 40px;
    letter-spacing: 2px;
    
}
article {
    flex: 4 0 auto;
    background-color: #890C99;
    display: flex;
}
div {
    width: 90%;
    height: 90%;
    border: 3px solid rgb(72, 72, 72);
    margin: auto;
    position: relative;
}
/*                    Footer                      */
footer {
    background-color: black;
    color: #890C99;
    flex: 2 0 auto;
    display: flex;
}

footer h3 {
    width: 100vw;
    margin: auto;
}