/*----------------------------------------GENERAL------------------------------------*/
* {
    margin: 0;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h1,
h3 {
    margin: auto;
}

header {
    background-color: red;
    flex: 3 0 auto;
    display: flex;
}
/*                    main                      */
main {
    flex: 30 0 auto;
    display: flex;

}

aside {
    margin-left: 2px;
    background-color: rgb(72, 72, 72);
    flex: 1 0 auto;
    display: flex;
    height: 4%;
    border-radius: 15px;
    transition-duration: 3s;
}
aside h3{
    margin: 0 auto auto ;
    color: beige;
    background: rgb(61, 133, 248);
}

section {
    flex: 4 0 auto;
    display: flex;
    flex-direction: column;
}
main section:nth-of-type(2) {
    flex: 8 0 auto;
}
section h3{
    color: beige;
    margin: 25px auto;
    padding: 10px 10px;
    background-color: rgb(51, 2, 187);
    border-radius: 40px;
    letter-spacing: 2px;
    
}

article{
    flex: 4 0 auto;
}
article div {
    width: 90%;
    height: 90%;
    border: 3px solid rgb(72, 72, 72);
    border-radius: 20px;
    margin: auto;
    position: relative;
}
/*                    Footer                      */
footer {
    background-color: black;
    color: #890C99;
    flex: 2 0 auto;
    display: flex;
}

footer h3 {
    width: 100vw;
    margin: auto;
}

/*-------------------------------------Exercice test-----------------------------------------*/

aside:hover {
    height: 98%;
} 
/*-------------------------------------Exercice Carré-----------------------------------------*/

#carre {
    display: flex;
}
@keyframes tourne {
    form {
        background-color: yellow;
        transform: rotate(0deg);
    }
    to {
        background-color: red;
        transform: rotate(450deg);
    }
} 
#carre div {
    border-width: 2px;
    border-radius: 5px;
    width: 140px;
    height: 140px;
    background-color: yellow;
    animation-name: tourne;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction:alternate;
  
}
/*-------------------------------------Exercice Balle-----------------------------------------*/

#balle {
    display: flex;
    overflow: hidden;
}
#balle div {
    margin-bottom: 10px;
    width: 40px;
    height: 140px;
    border-radius: 0;
    position: relative;

}
@keyframes rebond {
    0% {
        top: -44px;
        animation-timing-function: ease-in;
    }
    19% {
        top: 105px;
        height: 32px;
        animation-timing-function: linear;
    }
    20% {
        top: 100px;
        height: 38px;
    }
    30% {
        top: 20px;
        animation-timing-function: ease-out;
    }
    42% {
        top: 105px;
        height: 32px;        
    }
    43% {
        top: 100px;
        height: 38px;        
    }
    51% {
        top: 60px;
    }      
    52% {
        top: 57px; 

    }
    64% {
        top: 105px;      
        height: 32px;        
    }
    66% {
        top: 100px;      
        height: 38px;        
    }
    72% {
        top: 90px;       
    }
    77% {
        top: 105px;      
        height: 32px;        
    }
    79% {
        top: 100px;      
        height: 38px;
    }
    85% {
        top: 100px;      
        height: 38px;  
    }
    89% {
        top: 180px;       
        left: -1px;
    }
    90% {
        top: 180px;
        left: 300px;     
    }
    91% {
        top: -200px;
        left: 300px;     
    }
    92% {
        top: -200px;
        left: -1px;     
    }
    95% {
        top: -44px;
    }
    100% {
        top: -44px;
    }
} 
#balle div div {
    position: absolute;
    left: -1px;
    top: -44px;
    border-width: 2px;
    border-radius: 100%;
    width: 38px;
    height: 38px;
    background-color: #890C99;
    animation-name: rebond;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 1s;

}
/*-------------------------------chargement-------------------------------*/
@keyframes loading {
    form {
        background-color: black;
    }
    to {
        background-color: beige;
    }
}
#chargement div {
    position: absolute;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    background-color: black;
    top: 60px;
    left: 20px;
    animation-name: loading;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-delay: 1s;
}
#chargement #load1 {
    left: 130px;
    animation-delay: 2s;
}
#chargement #load2 {
    left: 240px;
    animation-delay: 3s;
}